/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* --------CSS RESET CODE ENDS HERE-------- */

/* FONTS */

@font-face{
	font-family: fairycottage;
	src: url(../fonts/Fairycottage.ttf);
}
@font-face{
	font-family: vintage;
	src: url(../fonts/vintage.ttf);
}
@font-face{
	font-family: Oswald;
	src: url(../fonts/Oswald-VariableFont_wght.ttf);
}

/* HAMBURGER MENU */
body
{
  margin: 0;
  padding: 0;
  
  /* make it look decent enough */
  background: #7C8C3A;
  color: #E7E9DC;
  font-family: vintage;
}

#menuToggle{
  display: block;
  position: relative;
  top: -60px;
  left: 20px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a{
  text-decoration: none;
  color: #E7E9DC;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover{
  color: #E7E9DC;
}


#menuToggle input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}

/* Just a quick hamburger */
#menuToggle span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #7C8C3A;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child{
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2){
  transform-origin: 0% 100%;
}
/* Transform all the slices of hamburger into a crossmark.*/
#menuToggle input:checked ~ span{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #E7E9DC;
}
#menuToggle input:checked ~ span:nth-last-child(3){
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2){
  transform: rotate(-45deg) translate(0, -1px);
}
/* Make this absolute positioned at the top left of the screen */
#menu{
  position: absolute;
  width: 100%;
  height: 667px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #7C8C3A;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu li{
  padding: 10px 0;
  font-size: 22px;
}
/*And let's slide it in from the left*/
#menuToggle input:checked ~ ul{
  transform: none;
}

/* DROPDOWN MENU IN NAV */
.dropdown1, .dropdown2 li {
	display: block;
	transition-duration: 0.5s;
   }
   
.dropdown1 li:hover {
	cursor: pointer;
}
.dropdown2 li:hover {
	cursor: pointer;
}
   
ul li ul {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	transition: all 0.5s ease;
	margin-top: 1rem;
	left: 185px;
	top: 152px;
	display: none;
}
   
ul li:hover > ul,
ul li ul:hover {
	visibility: visible;
	opacity: 1;
	display: block;
}
   
ul li ul li {
	clear: both;
	width: 100%;
}
.socials ul li{
	display: inline;
	top:200px;
}

body{
	background-color: #E7E9DC;
	width: 100%;
}

.logo{
	width: 200px;
	height: 85px;
	position: relative;
	left: 145px;
	top: 10px;
}

/* homepage css */
.pquote{
	font-family: fairycottage;
	color: #7C8C3A;
	font-size: 31px;
	text-align: center;
}
.picasso{
	font-family: vintage;
	font-size: 14px;
	color: #754C24;
	text-align: right;
	padding-right: 10px;
}
.info img{
	width: 203px;
	height: 220px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
}
.info p{
	color: #754C24;
	font-family: oswald;
	font-size: 20px;
	text-align: center;
	word-wrap: normal;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	padding-bottom: 50px;
}
.homepagepics img{
	width: 131px;
	height: 142px;
}
.desktopipadonly{
	display: none;
}
.homepagepics{
	display:grid;
	grid-template-columns: repeat(2,1fr);
	padding-left: 40px;
	padding-right: 40px;
	column-gap: 40px;
	row-gap: 40px;
}
/* end of homepage css */

.skip{
	padding-top: 20px;
	padding-bottom: 10px;
	position: relative;
	left: 280px;
}

footer{
	background-color:#7C8C3A;
}
footer a{
	text-decoration: none;
	color:#E7E9DC;
}


footer ul li{
	padding: 5px;
	font-family: vintage;
	font-size: 30px;
}
footer ul{
	padding:10px;
}
footer p{
	font-family: oswald;
	font-size:21px;
	text-align: right;
	padding-right:5px;
}
.fa {
	padding: 10px;
	text-align: center;
	text-decoration: none;
  }
  .fa:hover {
	opacity: 0.7;
  }
